<section class="prstv-page-background">
    <section class="prstv-page-section">
        <div class="prstv-page-content">
    
            <div class="button-container" style="text-align: left;">
                <button routerLink="/">Home</button>
            </div>
    
            <div class="image-container">
                <img src="assets/prstv/prstv-main.jpg" alt="PR-STV Main"> 
            </div>
    
            <h1>Ireland's PR-STV Voting System Explained</h1>

            <div class="segment">
                <p>Ireland uses proportional representation (PR) for voting in elections, with each voter having a single transferable vote (STV).</p>
                <p>PR-STV is a candidate-based system. This means voters can choose to vote for as many, or as few candidates as they like, in order of their preference.</p>
                <p>The voter’s first preference vote – the candidate they give their number 1 vote to – is most important and is always counted. A voter’s second (and further preferences) may be counted if their preferred candidate is eliminated at the end of a round of counting, or is elected with a surplus. These are known as transfers.</p>
                <p>Main features of the Irish electoral system:</p>
                <ul>
                    <li>Several candidates are elected to represent each constituency;</li>
                    <li>Voters can chose as many (or few) candidates in order of their preference;</li>
                    <li>A voter’s first preference is always counted. Second and further preferences are often counted and have the ability to determine the results of an election.</li>
                </ul>
            </div>
    
            <div class="image-container">
                <img src="assets/prstv/ballotpaper.jpg" alt="Ballot Paper"> 
            </div>
    
            <div class="segment">
                <h2>How your vote is counted</h2>
                <p>When polling is over, all ballot boxes are taken to a central counting place for each constituency. Votes are counted in the same way for all PR-STV elections.</p>

                <h3>Opening the ballot boxes</h3>
                <p>Once all the ballot boxes are opened, a reconciliation process takes place in which the number of ballots issued at the polling centre is checked against the number of ballots that were in the ballot boxes. Each ballot paper is checked to ensure that it has been properly completed and any potential spoilt votes are set aside. The number of ballot papers are counted to determine the total poll – the total number of votes.</p>
            
                <h3>First count and calculation of the quota</h3>
                <p>Ballot papers are sorted into first preference choices for each candidate and then the first preferences are counted. The total valid poll is determined after all spoilt votes have been adjudicated on. Ballot papers may be deemed spoilt due to writing on the ballot paper; if no clear first preference is marked for a candidate; or if the ballot paper was not stamped by the presiding officer or polling clerk.</p>
                <p>The quota is then calculated on the basis of the total valid poll. The quota is the figure that, if reached, guarantees the election of a candidate. It is possible to get elected without reaching the quota, but this can only happen when all other candidates are excluded.</p>
                <p>The quota is calculated by taking the (total number of valid ballot papers) dividing it by (the number of seats to be filled plus one) and then adding one.</p>
            </div>
    
            <div class="image-container">
                <img src="assets/prstv/quota.JPG" alt="Quota"> 
            </div>
    
            <div class="segment">
                <p>The quota is a formula calculated on the basis of the lowest possible number of votes that can be filled by the number of candidates to be elected. 
                    In the above example which is a four seat constituency, it is only possible for four candidates to reach the quota of 12,001 votes each, as this would only leave 11,996 votes left.</p>
            </div>

            <div class="segment">
                <h2>Surplus Distribution</h2>
                <p>A surplus is the number of votes a candidate has over the quota. Any candidate that reaches or exceeds the quota on the first count is deemed elected. 
                    The first count is normally the only time that all of a candidate’s second preference votes are counted. This surplus is then split between the remaining candidates. 
                    After all subsequent counts, it is only the remaining (surplus) ballot papers, after a candidate has reached the quota, that are redistributed (transferred) to the remaining candidates.</p>
                <p>A surplus is only distributed if it can achieve one of the following:</p>
                <ul>
                    <li>Elect the next highest continuing candidate;</li>
                    <li>Bring the lowest continuing candidate level with or above the second lowest continuing candidate;</li>
                    <li>Qualify the lowest continuing candidate for recoupment of their election expenses or deposit (if applicable).</li>
                </ul>
                <p>The question of whether a surplus is to be distributed is considered after each count on the basis of the surplus(es) then available.</p>

                <h3>Surplus Distribution example - Transfer Factor</h3>
                <p>Here are the results of the first count:</p>
                <ul>
                    <li>Oisín (Blue) – 301 votes</li>
                    <li>Marie (Blue) – 200 votes</li>
                    <li>Cian (Pink) – 200 votes</li>
                    <li>Claire (Yellow) – 200 votes</li>
                    <li>Tricia (Yellow) – 99 votes </li>
                    <li>Total Votes – 1,000 </li>
                </ul>
                <p>Oisín has exceeded the quota by 50 votes and is deemed to be elected. 50 of his votes are taken as his ‘surplus’ and are re-distributed. </p>
                <p>In order to determine how many surplus votes each candidate gets, all 301 of Oisín’s votes are checked to see who got second preference. Most of Oisín’s votes show a preference for another candidate but 61 do not and are “non-transferable”.  Therefore, 301-61=240 are “transferable”. </p>
                <p> A number called the ‘transfer factor’ is now calculated, which is the surplus divided by the transferable votes: 50/240=0.20833.</p>
                <p>A total of 178 voters showed Marie as the next preference, so she gets 178 x 0.20833 = 37 votes from Oisín. </p>
                <p>A total of 62 voters show Cian as the next preference, so he gets 62 x 0.20833 = 13 votes from Oisín. </p>
                <p>So, a total of 37  + 13 = 50 votes are transferred from Oisín to other candidates.  These are only Transferable votes.  Oisín is left with his quota of 251 votes. Claire and Tricia got no votes from Oisín. </p>
            </div>

            <div class="image-container">
                <img src="assets/prstv/ballots.jpg" alt="Quota"> 
            </div>

            <div class="segment">
                <h2>Exclusion of lowest candidate(s)</h2>
                <p>If there is no surplus available or the distribution of a surplus is not allowed, the lowest candidate(s) is/are excluded and their votes distributed to the remaining candidates.</p>
                <p>Two or more lowest candidates are excluded together where it is clear that the exclusion of one or more candidates cannot materially affect the result of the election or save the deposit of a remaining candidate.</p>
            </div>

            <div class="segment">
                <h2>Transfers</h2>
                <p>When a candidate’s surplus is distributed or a candidate is excluded, their votes are redistributed. Any preference for candidates who have already been elected or have been excluded are ignored. The next available preference on the ballot paper is used.</p>
                <p>Ballot papers will be deemed ‘non-transferrable’ if there is no preference marked for any remaining candidate who has not already been elected or eliminated at this stage of the count.</p>
            </div>

            <div class="segment">
                <h2>Recounts</h2>
                <p>The returning officer can decide at any time to re-examine and recount all or any of the ballot papers and change results already announced. Candidates can also request a recount; these requests are generally only made when the outcome of an election is very close.</p>
            </div>

            <div class="segment">
                <h2>Video Explainer</h2>

                <div class="video-container">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/ujIRGl2G8cI"></iframe>
                </div>

            </div>
    
            <div class="button-container">
                <button routerLink="/">Home</button>
            </div>
    
        </div>
    </section>
</section>