<section class="history-page-section">
    <div class="history-page-content">

        <h1>Ireland's e-Voting History</h1>

        <div class="quote-segment">
            <q>We have to correct the software, which will cost €500,000 and try to move forward. 
                Otherwise, this country will move into the 21st century being a laughing stock with our <b>stupid aul pencils.</b> ~ Bertie Ahern</q>
        </div>

        <div class="image-container">
            <img src="/assets/minister.jpg" alt="Voting Machine"> 
        </div>

        <div class="segment">
            <h2>The idea</h2>
            <p>The idea for electronic voting (or, e-voting) was first floated by then-Environment Minister Noel Dempsey way back in 1999.</p>
            <p>Legal provisions were made for electronic voting in the Electoral (Amendment) Act of 2000.</p>
            <p>Putting forward the proposed law at the time, Dempsey said that introducing e-voting was a “large and challenging project”, but that by the end he was confident that by the end the country would:</p>
            
            <q>…have a system that will make it easier for the public to vote, provide election results within a few hours of close of poll, 
                improve the efficiency of electoral administration and support a positive image of the country in the use of information technology.</q>

            <p>Unfortunately for Dempsey, and for successive government ministers, introducing electronic voting would prove to be a lot more challenging than he could have predicted.</p>
        </div>

        <div class="segment">
            <h2>The first electronic votes are cast</h2>
            <p>With the laws passed, an e-voting trial was set up for the 2002 general election in three constituencies - Dublin North, Dublin West and Meath.</p>
            <p>The scheme was the subject of fierce debate at the time, but went off relatively smoothly, with the now-deceased Brian Lenihan of Fianna Fáil the first candidate to be elected by e-voting.</p>
        </div>

        <div class="image-container">
            <img src="/assets/voteratmachine.jpg" alt="Voting Machine"> 
        </div>

        <div class="segment">
            <p>E-voting was used in seven constituencies for the second referendum on the Nice Treaty later in 2002. RTÉ reported in December 2002 that a confidential report sent to government had expressed serious concern over the security of the machines. </p>
            <p>The government pressed on regardless, and Martin Cullen – who succeeded Noel Dempsey as Environment Minister – planned to roll out e-voting across all constituencies for the 2004 local and European elections. </p>
            <p>The government brought 7,500 of the machines from Dutch firm Nedap at a cost of €51 million to the state. It was then that the real trouble began.</p>
        </div>

        <div class="segment">
            <h2>Raising doubts</h2>
            <p>Growing out of the original debate, a campaign began in earnest against the introduction of e-voting, with the concerns raised over the security and privacy of ballots cast. </p>
            <p>Opposition TDs lent weight and support to the campaign, and the government set up a commission to examine the e-voting system they had bought.</p>
            <p>The commission reported in April 2004 that the system’s reliability could not be established to its satisfaction. As a result, plans to roll it out were put on ice, and the country went back to full paper voting for the 2004 elections. </p>
            <p>And that was it. The €51 million machines were never put to use again. But the debate continued to rage on. The commission issued its final report in 2006, saying e-voting could be feasible if changes were made to the system to make it more secure. </p>
            <p>The Fianna Fáil-led government wanted to push ahead anyway, leading to Bertie Ahern’s now infamous quip during Leaders’ Questions:</p>
            <q>We have to correct the software, which will cost €500,000 and try to move forward. Otherwise, this country will move into the 21st century being a laughing stock with our stupid old pencils.</q>
        </div>

        <div class="image-container">
            <img src="/assets/evotingmachine.jpg" alt="Voting Machine"> 
        </div>

        <div class="segment">
            <h2>Laughing stock</h2>
            <p>But the upgrades never came, and the controversy rumbled on. Adding to the general public anger was the fact that the 7,500 machines were being stored at an annual cost of €800,00 per year. </p>
            <p>E-voting was entirely rolled back for the 2007 general election, with a full return to Bertie’s dreaded old pencils. In 2009, the latest minister caught up in the issue – John Gormley - announced that the project was being officially abandoned and that the machines would be disposed of. </p>
            <p>It would be another three years before the State finally managed to shift the dreaded machines. A deal with KMK Metals Recycling Limited saw the firm pay just over €70,000 to take the equipment off the state’s hands. </p>
            <p>By this point, e-voting equipment had cost Ireland about €55 million, not including the costs that would have been incurred for the commission of investigation. </p>
            <p>The Fine Gael government of the day put the boot into the previous government, with former Finance Minister Michael Noonan stating that the defunct machines were “valueless”, and joking that they could be used by Irish-themed pubs around the world.</p>
            <p>With the selling off of the stock, the e-voting saga finally came to an end. As a small bit of good news at the end, the firm that bought the machines made a donation of €10,000 to Barretstown children’s charity. </p>
        </div>

        <div class="image-container">
            <img src="/assets/oldmachines.jpg" alt="Voting Machine"> 
        </div>

        <div class="segment">
            <p>So with that history in mind, it’s probably no wonder that current junior minister for local government and electoral reform, John Paul Phelan, ruled out any hope of e-voting machines ever returning in the short, medium or long term.</p>
            <p>In December of last year, Phelan said that Irish citizens have no urge to depart from the pencil and the ballot paper. </p>
            <p>“I certainly wouldn’t be keen for that type of approach to change very much,” he said, adding that there is something “quaint and fantastic of having polling stations in the middle of nowhere”. </p>
            <p>So, while the thought of a lengthy and costly recount in Ireland South taking place may not be to everyone’s liking, it’s probably safe to say that that e-voting won’t be replacing the “stupid old”, but reliable, pencil any time soon. </p>
        </div>

        <div class="button-container">
            <button routerLink="/">Home</button>
        </div>

    </div>
</section>