<section class="history-page-section">
    <div class="history-page-content">

        <div class="image-container">
            <img src="assets/evotingmachine.jpg" alt="Voting Machine"> 
        </div>

        <h1>Ireland's e-Voting History</h1>

        <div class="quote-segment">
            <q>We have to correct the software, which will cost €500,000 and try to move forward. 
                Otherwise, this country will move into the 21st century being a laughing stock with our <b>stupid aul pencils</b>.</q>
        </div>

        

    </div>
</section>